@media (max-width: 1400px){
  .banner_cont
  {
    height: 500px;
  }
}

@media (max-width: 1261px){
  .banner_btn
  {
       padding: 13px 30px;
  }
}
@media (max-width: 1219px){
  .nav-item
  {
    margin: 0 10px;
  }
  .banner_btn
  {
    padding: 13px 30px;
  }
}
@media (max-width: 1160px){
  .banner_btn
  {
    display: none;
  }
}
@media (max-width: 1024px){
  .footer-content h2
  {
    font-size: 42px;
  }
}

@media (max-width: 992px){
  .banner_cont h1 
  {
    font-size: 46px;
  }
  .banner_cont .p1 
  {
    font-size: 22px;
  }
  .banner_cont .p2 
  {
    font-size: 28px;
  }
  .about_content
  {
    margin-top: 20px;
  }
}
@media (max-width: 768px){
  #banner
  {
    height: 500px;
  }
  .banner_cont
  {
    height: 400px;
  }
  .banner_cont h1 
  {
    font-size: 36px;
  }
  .banner_cont .p1 
  {
    font-size: 18px;
  }
  .banner_cont .p2 
  {
    font-size: 22px;
  }
  h2 
  {
    font-size: 28px;
  }
  .post_img
  {
    height: 300px;
  }
  .rat_para
  {
    font-size: 18px!important;
  }
  .footer-content h2
  {
    font-size: 32px;
  }



  .im{
  margin: 100px;
  }
  .p2{
   margin-top: 0;
   padding-top: 0;
  }
  .r{
   padding-top: 30px;
  }
.latest-news{
  text-align: center;
}
.fnav{
 text-align: center;
}
.fnav li{
  padding-top: 10px;
}
.text{
 padding-left: 0;
}
.c{
 text-align: center;
}
.hw{
 text-align: center;
}
#color{
 font-size: 1rem;
 margin-bottom: 100px;
}
.apply{
 padding-left: 80px;
 padding-right: 80px;
}
.form-group input{
  border: 1px solid gray;
  width: 100%;
 }
 .form-group textarea{
border: 1px solid gray;

  }
.order{
 order: 1;
}
.order1{
 order: 2;
}
.space{
 padding-top: 20px;
}
.faqs{
 text-align: center;
}

}
@media (max-width: 425px){
  .navbar-brand img
  {
    height: 38px;
  }
  .banner_cont
  {
    height: 350px;
  }
  .banner_cont h1 
  {
    font-size: 26px;
  }
  .banner_cont .p1 
  {
    font-size: 16px;
  }
  .banner_cont .p2 
  {
    font-size: 18px;
  }
  .second_btn
  {    
    font-size: 16px;    
  }
  h2 
  {
    font-size: 24px;
  }
  .about_img
  {
    height: 300px;
  }
  .about_content h3
  {
    font-size: 18px;      
  }
  .about_content p
  {
    font-size: 14px;      
  }
  .post_cont h4 a 
  {
    font-size: 20px;    
  }
  .post_date
  {
    font-size: 16px;    
  }
  .post_para
  {
    font-size: 14px;
  }
  .post_cont a  
  {
    font-size: 14px;    
  }
  .post_cont a i 
  {
    font-size: 10px;    
  }
  .footer-content h2
  {
    font-size: 22px;
  }

}
@media (max-width: 375px){
  .banner_cont
  {
    height: 380px;
  }
  .post_img
  {
    height: 250px;
  }
  .rat_para
  {
    font-size: 16px!important;
  }



 .latest-news{
  margin-top: 120px;}

  .apply{
 padding-left: 10px;
 padding-right: 10px;

}
.faqs{
 padding-left: 10px;
 padding-right: 10px;
}
}
 

@media (max-width: 320px){
 .latest-news{
  margin-top: 200px;
 }

}






            